<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TS4SimRipper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <TS4SimRipper.Properties.Settings>
            <setting name="TS4Path" serializeAs="String">
                <value />
            </setting>
            <setting name="TS4ModsPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSavePath" serializeAs="String">
                <value />
            </setting>
            <setting name="TS4SavesPath" serializeAs="String">
                <value />
            </setting>
            <setting name="BlenderBoneLength" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="BlenderClean" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SeparateMeshesIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HQTextures" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LinkTextures" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OverlaySortOrder" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SkinBlendIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ConvertBump" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TS4ContentPath" serializeAs="String">
                <value />
            </setting>
        </TS4SimRipper.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
